/* Styling for the crosshair element */
.crosshair {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    background-color: red; /* Setting the central reticle color to red */
    width: 5px;
    height: 5px;
    /* Creating a crosshair effect using box-shadow */
    box-shadow: 15px 0, 20px 0, 25px 0, -15px 0, -20px 0, -25px 0, 0 15px, 0 20px,
      0 25px, 0 -15px, 0 -20px, 0 -25px;
  }